header {color:blue;
    text-align: center;
    padding: 15px;

    background-color: #764c3c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f4ecec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}






body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.animation-area_1 {
    position: absolute;
    background:linear-gradient( to right,#FFFFFF, #764c3c);
    width: 100%;
    height: 100%;
}



.container_0 {
    position: relative;
    border: 5px solid black;
    background-color: #ff00ff;
    color:blue; 
    width: 1000px;
    height: auto;
    margin-left: 600px;
    text-align: center;
    text-shadow: 1px, 1px, 1px #3D9970;
    z-index: 1;
    background-color: #764c3c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f4ecec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
    font-size: 60px;
    font-family: "Fredoka One", cursive;
    text-shadow: 1px, 1px, 1px #3D9970, 2px, 2px, 2px #3D9970;
    cursor: pointer;
}

.container_1 {
    position: relative;
    border: 5px solid black;
    background-color: #ff00ff;
    color: blue;
    width: 650px;
    height: 675px;
    margin-left: 400px;
    margin-top: 50px;
    z-index: 1;
    background-color: #764c3c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f4ecec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h2 {
    font-size: 60px;
    font-family: "Fredoka One", cursive;
    text-align: center;
}

.answer-choice {
    border: 5px solid black;
    background-color: gray;
    color: #DDDDDD;
    width: 60px; 
    height: 60px;
    margin-top: 50px;
    margin-left: 15px;
}

.container_2 {
    position: absolute;
    border: 5px solid black;
    background-color: #ff00ff;
    color: blue;
    width: 650px;
    height: 675px;
    margin-top: -675px;
    margin-left: 1100px;
    z-index: 1;
    background-color: #764c3c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f4ecec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.col-md-3_1 {
    position: absolute;
    border: 5px solid black;
    background-color: white;
    width: 100px;
    height: 125px; 
    margin-left: 30px;
    margin-bottom: 100px;
    z-index: 1;
}


.col-md-9_1 {
    position: absolute;
    margin-top: 55px;
    margin-left: 110px;
    width: 500px;
    z-index: 1;
}



.col-md-9 {
    position: absolute;
    margin-top: 55px;
    margin-left: 100px;
    z-index: 1;
}

.row_1 {
    height:auto;

}




h3 {
    font-size: 60px;
    font-family: "Fredoka One", cursive;
    text-align: center;
}

.col-md-3_1 {
    position: relative;
    border: 5px solid black;
    background-color: white;
    width: 100px;
    height: 125px; 
    margin-left: 30px;
    z-index: 1;
}

.col-md-9_1 {
    position: relative;
    margin-top: 55px;
    margin-left: 110px;
    width: 500px;
    z-index: 1;
}

