header {
    color:violet;
    text-align: center;
    padding: 15px;

    background-color: #764c3c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f4ecec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.hide {
    display: none;
}

#history_header {    
    text-align: center;

}

#clear {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #0aa12f;
    border-radius: 10px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
    text-align:right;
  }

#clear:hover {
    background-color: #3aa154;
  }

.user_input {
    margin-top: 30px;
    margin-bottom: 5px;
}

.previous_users {
    padding: 5px;
}

.image {
    margin-top: 30px;
    margin-bottom: 30px;
}

.start {
    background-color: #764c3c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f4ecec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#button-addon2 {
    background-color: brown;
    color: wheat;
    border-radius: 10px;
}

#setup-screen {
    padding-top: 30px;
    background-color: #764c3c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f4ecec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

#choose {
    margin-top: 30px;
    background-color: lightgoldenrodyellow;
}

.return {
    margin-top: 30px;
    padding: 15px;
    
}

.new-user,
.view-history {
    background-color: lightgoldenrodyellow;
    color: blue;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

